.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2vw;
  background: var(--header-color);
  opacity: 0.9;
  backdrop-filter: blur(40px);
  z-index: 1;
  position: relative;
}

.logoClass {
  height: 100%;
  width: 100%;
  min-width: 100px;
  max-width: 300px;
}

.icon {
  font-size: 2em;
  color: var(--icon-color-light);
  cursor: pointer;
}

.icon:hover {
  opacity: 0.8;
}
