<div class="what-we-do-main">
 
    <app-title [topTitle]="'service'" [mainTitle]="'What we do'"></app-title>
    <!-- <div class="title-description">
      <h3>We work with</h3>
      <h1>Amazing service</h1>
      <div class="border"></div>
    </div> -->

    <div class="section">
      <p>Use solar energy to power your home and reduce your dependence on the grid. Purchase solar at the lowest price of any national provider with Tesla's price match guarantee and take control of your monthly electricity bill. Schedule a virtual consultation with a Tesla Advisor to learn more.</p>
    </div>

    <div class="section image-section">
      <div class="image">
        <img [src]="image" alt="Description of the image">
      </div>
      <div class="frame">
        <p>This small block is surrounded by a frame.</p>
        <ul>
          <li>List item 1</li>
          <li>List item 2</li>
          <li>List item 3</li>
        </ul>
      </div>
    </div>

    <div class="section">
      <p>Below, there is one more section or content as needed.</p>
    </div>
  </div>
