

<div class="scroll-vertical-section">
<app-header style="position: absolute; top: 0; width: 100%;"></app-header>
<div class="main-content-container">
    <app-hero-section></app-hero-section>
  </div>

  <div class="main-content-container">
    <app-about></app-about>
  </div>

  <div class="main-content-container">
    <app-service></app-service>
  </div>

  <div class="main-content-container">
    <app-what-we-do></app-what-we-do>
  </div>

  <div class="main-content-container">
    <app-team></app-team>
  </div>

  <div class="main-content-container">
    <app-testimonials></app-testimonials>
  </div>

</div>